.markdown-content ul {
    list-style: initial;
    margin-left: 20px;
}
.markdown-content ol {
    list-style-type: decimal;
    margin-left: 20px;
}
.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.markdown-content p {
    margin-bottom: 1em;
}

.markdown-content ul,
.markdown-content ol {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

.markdown-content pre {
    background-color: #f5f5f5;
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
    color: inherit !important;
}